/* navigation bar*/

/* .navbar-brand{
	font-family: viga;
	font-size: 32px;
	
	
	
} */

/* JUMBOTRON */
.jumbotron{
	background-image: url('/images/aa.jpg');
	background-size: cover;
	height: 750px;
	
}
.jumbotron .display-4{
	color: white;
	text-align: center;
	margin-top:350px;
	font-size: 32px;
}


/*DESKTOP VERSION*/

@media (min-width: 992px) { 
	.navbar-brand,.nav-link{
		color: Black !important;
		
		
	}

	.nav-links{
		text-transform: uppercase;
		margin-right: 30px;

	}

	#navlink:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
		
	}
	.jumbotron{
		margin-top:-75px;
	}
	.jumbotron .display-4{
		color: white;
		text-align: center;
		margin-top:350px;
		font-size: 62px;
	}

} 







 